* {
    box-sizing: border-box;
}

:root {
    --grayish-blue: #C7D2E9;
    --deep-violet: #5D16D5;
    --light-gray: #F1F1F1;
    --purple: #9736B0;
    --grayish-white: var(--grayish-white);
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: #fff;

}

h2 {
    font-size: 3.125rem;
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: 2.5rem;
}

.button {
    background-color: var(--grayish-blue);
    border: none;
    border-radius: 4px;
    padding: .75rem 2.5rem;
    font-size: 1.375rem;
}

.hidden {
    display: none;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.header {
    display: flex;
    max-width: 1032px;
    margin: 2rem auto 4.5rem;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    width: 200px;
    height: auto;
}

.header__skip-container {
    background-color: var(--grayish-blue);
    border-radius: 4px;
    padding: .75rem 2.5rem;
    font-size: 1.375rem;
    position: relative;
    top: -100px;
    opacity: 0;
    transition: opacity 0.5s;
}

.header__skip-container:focus {
    top: 0;
    opacity: 1;
}

.search {
    position: relative;
}

.search__input {
    background: var(--grayish-white);
    border: 1px solid var(--grayish-blue);
    box-sizing: border-box;
    border-radius: 26px;
    height: 3rem;
    padding: 0 1rem;
    font-size: 1.375rem;
}

.search__submit {
    position: absolute;
    background: none;
    border: none;
    right: 1rem;
    top: .75rem;
    margin: 0;
    padding: 0;
}

.lang {
    font-size: 1.375rem;
}

.lang :last-child {
    margin-right: 0;
}

.lang__button {
    padding: .75rem 1rem;
    margin-right: .5rem;
    background-color: var(--grayish-blue);
}

.login {
    background: none;
    border: none;
    cursor: pointer;
}

.navigation {
    max-width: 1032px;
    margin: 0 auto;
}

.navigation__menu {
    display: flex;
    align-items: center;
}

.navigation__menu > .navigation__menuitem:last-child {
    margin-right: 0;
}

.navigation__menu > .navigation__menuitem:first-child {
    padding-left: 0;
}

.navigation__menuitem {
    display: block;
    font-size: 1.125rem;
    margin-right: 1.5rem;
    text-decoration: none;
    color: #000;
    padding: 1rem;
}

.navigation__menuitem:hover {
    text-decoration: underline;
}

.navigation__menuitem__highlighted {
    color: var(--deep-violet);
    font-weight: 700;
}

.main {
    margin: 0 auto 2.5rem;
}

.block {
    max-width: 1032px;
    margin: 0 auto 7.5rem;
}

.tours {
    font-size: 1.375rem;
    line-height: 1.2;
}

.tours__paragraph {
    max-width: 700px;
    margin-bottom: 2rem;
}

.tours__link {
    color: var(--purple);
}

.footer {
    background-color: var(--light-gray);
    padding: 4.5rem 0 6rem;
}

.footer__wrapper {
    max-width: 1032px;
    margin: 0 auto;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    opacity: .4;
}

.dialog {
    background: #FFF;
    position: absolute;
    top: 10rem;
    left: 50vw;
    transform: translateX(-50%);
    min-width: 800px;
    min-height: auto;
    border-radius: 8px;
    padding: 4.5rem 9.375rem;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.12), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.dialog__button-close {
    position: absolute;
    top: 0;
    right: .5rem;
    font-size: 3rem;
    background: none;
    border: none;
    cursor: pointer;
}

.dialog__form-row {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    font-size: 1.375rem;
    margin-bottom: 3.5rem;
}

.dialog__form-input {
    max-width: 400px;
    min-width: 200px;
    width: 100%;
    font-size: 1.375rem;
    background: var(--grayish-white);
    border: 1px solid var(--grayish-blue);
    box-sizing: border-box;
    border-radius: 8px;
    padding: .875rem 1.25rem 1rem;
}

.dialog__form-button {
    padding-top: 1rem;
    padding-bottom: 1rem;
}